.container {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: auto;
    justify-items: center;
    align-items: center;
}




.container h1,
.container p {
   margin-bottom: 30px;
   text-align: center;
}